<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title><% preact.title %></title>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link
            rel="apple-touch-icon"
            href="/assets/icons/apple-touch-icon.png"
        />
        <style>
            @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
        </style>
        <% preact.headEnd %>
    </head>
    <body>
        <% preact.bodyEnd %>
    </body>
</html>
